streamlit==1.33.0
rich==13.4.2
python-dotenv==1.0.1

langchain==0.2.10
langchain-core==0.2.10
langchain-openai==0.1.7
langchain-community==0.2.6
langsmith==0.1.75

openai==1.35.7

pinecone-client==3.1.0
sentence-transformers==2.6.1
torch>=2.1.0,<2.2.0
transformers==4.57.3

tiktoken==0.7.0
numpy==1.26.4
pandas==2.3.3
requests==2.32.5
scik
